.admin
  .banners
    .container

      - unless @organization
        .row
          .col-md-12.center
            %h4 You need to be Admin or Super Admin in your company to access this panel.
        .row
          .col-md-12.center
            = link_to 'Go back to home page', root_path, class: 'btn btn-warning'

      - else
        .row
          %h3 Settings
          %ul
            %li
              %h4
                Maestrano account:
                = link_to "Disconnect your Maestrano account", Maestrano::Connector::Rails::Engine.routes.url_helpers.signout_path, class: "btn btn-primary btn-sm"
            %li
              %h4
                Salesforce account:
                - if @organization.oauth_uid
                  = link_to "Disconnect #{@organization.name} (#{@organization.uid}) from your Salesforce account", signout_omniauth_path(organization_id: @organization.id), class: "btn btn-primary btn-sm"
                - else
                  = link_to "Connect #{@organization.name} (#{@organization.uid}) from your Salesforce account", "/auth/salesforce/request?org_uid=#{@organization.uid}", class: "btn btn-warning btn-sm"
            - if @organization.oauth_uid
              %li= link_to "Force a synchronization", admin_synchronize_path, method: :post, class: "btn btn-warning btn-sm"
        .spacer1

        .row
          %h3
            Synchronized entities
            %small You can customize which entities are synchronized by the connector.
          .col-md-11.col-md-offset-1
            = form_tag admin_update_path(id: @organization.id), method: :put do
              - @organization.synchronized_entities.each do |k, v|
                .row
                  .col-md-2
                    %label{:for => "#{k}"} #{k.to_s.humanize}
                  .col-md-1
                    %input{type: "checkbox", id: "#{k}", name: "#{k}", checked: v}
                  -if v && @organization.oauth_uid
                    .col-md-2
                      = link_to "Force a synchronization for #{k.to_s.pluralize} only", admin_synchronize_path(opts: {only_entities: [k.to_s]}), method: :post, class: "btn btn-warning btn-sm"
              =submit_tag :Update, class: "btn btn-primary"
        .spacer1

        .row
          %h3
            IdMap
            %small Equivalence between Maestrano's Connec! id and SalesForce id for each of your entities
          .center
            .row
              .col-md-3
                %strong Connec! entity
              .col-md-3
                %strong Connec! id
              .col-md-3
                %strong SalesForce entity
              .col-md-3
                %strong SalesForce id
            - @idmaps.each do |idmap|
              .row
                .col-md-3
                  = idmap.connec_entity ? idmap.connec_entity.humanize : nil
                .col-md-3
                  = idmap.connec_id
                .col-md-3
                  = idmap.external_entity ? idmap.external_entity.humanize : nil
                .col-md-3
                  = idmap.external_id