.home
  - unless current_user
    .banners
      .container
        .row
          .col-md-4.col-md-offset-4.center
            = link_to "Link your Maestrano account", Maestrano::Connector::Rails::Engine.routes.url_helpers.default_maestrano_auth_saml_index_path(tenant: :default), class: 'btn btn-warning'

  - else
    .banners
      .container
        .row
          .col-md-6
            %p
              Your company #{@organization.name}
              %small (#{@organization.uid})
              is
              - unless @organization.oauth_uid
                not linked to any Shopify account.
                - if is_admin?(current_user, @organization)
                  %header
                    %p
                      Please enter the “myshopify” domain of your store
                  .container__form
                    %form{:action => "/auth/shopify/request", :method => "GET"}
                      %input#shop{:name => "shop", :placeholder => "blabla.myshopify.com", :type => "text"}/
                      %input{:type=>"hidden", :value=>@organization.uid, :name=>:org_uid}/
                      %button{:type => "submit", :class => 'btn  btn-primary'} Install
              - else
                linked to a Shopify account
                %small (#{@organization.oauth_uid})


        .row
          .col-md-3
            =image_tag "logos/sync.png", class: 'external-logo'
          - if @organization.sync_enabled
            .col-md-8.alert.alert-success
              %h4
                Synchronizations are enabled
            .col-md-1
              = link_to "Toggle off", admin_toggle_sync_path, method: :put, class: "btn btn-warning btn-lg"
          - else
            .col-md-8.alert.alert-warning
              %h4
                Synchronizations are disabled
            .col-md-1
              = link_to "Toggle on", admin_toggle_sync_path, method: :put, class: "btn btn-warning btn-lg"