.home
  - if current_user
    .banners
      .container
        .row
          .col-md-10
            %h3
              Data Shared
            %small Equivalence between Maestrano's Connec! id and SalesForce id for each of your entities

        - if @idmaps
          %table.table.table-condensed
            %th
              Connec! entity
            %th
              Connec! id
            %th
              Shopify entity
            %th
              Shopify id
            %th
              Message

            - @idmaps.each do |idmap|
              %tr
                %td= idmap.connec_entity ? idmap.connec_entity.humanize : nil
                %td= idmap.connec_id
                %td= idmap.external_entity ? idmap.external_entity.humanize : nil
                %td= link_to idmap.external_id, "https://#{@organization.oauth_uid}/admin/#{idmap.external_entity}s/#{idmap.external_id}"
                %td= idmap.message
        - else
          .row
            .col-md-12
              %h3= "No data mapped"
